/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #333;
    overflow: hidden;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
}

p.b {
    text-align-last: center;
}